[submodule "include/abraham-twitteroauth"]
	path = include/abraham-twitteroauth
	url = https://github.com/abraham/twitteroauth.git

[submodule "include/mstdnoauth"]
	path = include/mstdnoauth
	url = https://github.com/mayaeh/MastodonOAuthPHP.git
