<?php

// for debug
ini_set ('error_reporting', E_ALL);


// スクリプト設置ディレクトリ
define ('SCRIPT_DIR', "./");

// 書き出すディレクトリのパス
define ('OUTPUT_DIR_NAME', SCRIPT_DIR);

// SQLite DB ファイル名
define ('DB_FILE', SCRIPT_DIR. 'b.db');

// 取得する URL or HTML ファイル名
define ('FORUM_HTML', '');

// for Mastodon start

define ('MSTDN_URL', '');

define ('MSTDN_OAUTH_TOKEN', '');

// toot 本文の最大文字数。実際にはこれよりも URL 分長くなる
define ('TOOT_MAX_LENGTH', 480);

// for Mastodon end

